# Managed by Ansible, please don't edit manually
[Unit]
Description={{ borgbackup_backup_device_symlink }} decrypt
After=dev-{{ borgbackup_backup_device_symlink }}.device

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/bin/sleep 3
ExecStart=cryptsetup luksOpen /dev/{{ borgbackup_backup_device_symlink }} {{ borgbackup_backup_device_symlink }} -d {{ borgbackup_backup_device_keyfile }}
ExecStartPost=/bin/systemctl start mnt-backup.mount
ExecStop=cryptsetup close {{ borgbackup_backup_device_symlink }}

