# Managed by Ansible, please don't edit manually
P {{ borgbackup_patterns.style }}

{# Recursion roots #}
{% for root in borgbackup_patterns.roots %}
R {{ root }}
{% endfor %}

{# Include patterns #}
{% for include in borgbackup_patterns.includes %}
+ {{ include }}
{% endfor %}

{# Exclude patterns #}
{% for exclude in borgbackup_patterns.excludes %}
- {{ exclude }}
{% endfor %}

{# Exclude (no-recurse) patterns #}
{% for norecurse in borgbackup_patterns.excludes_no_recurse %}
! {{ norecurse }}
{% endfor %}
